html {
  background-color: darkgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.mainTitle {
  font-family: "Montserrat", sans-serif;
}
#drumImg {
  margin-left: 10px;
  max-width: 5%;
  height: 8vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#drum-machine {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(26, 19, 19);
  display: flex;
}
#buttons {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.drum-pad {
    font-size: 25px;
  text-align: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 20vh;
  flex-basis: 29%;
  border: 1px antiquewhite solid;
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
  line-height: 20vh;
}
#display {
    line-height: 10vh;
    text-align: center;
  color: greenyellow;
  height: 10vh;
  font-family: monospace;
  font-size: 20px;
}
.drum-pad:hover{
    background-color: brown;
}